/*Tipografía*/
@font-face {
  font-family: Sofia;
  src: url(fonts/sofiapro-light.otf);
}

@font-face {
  font-family: Gilroy_Lh;
  src: url(fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: Gilroy_B;
  src: url(fonts/Gilroy-ExtraBold.otf);
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.navbar {
  padding: 20px 0;
}

.imgLogo {
  height: 12.5vh;
}

.nav-item {
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  background: #007680;
  color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #007680;
  padding: 5px 15px;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}

.banner {
  min-height: 100vh;
  padding: 250px 90px 200px;
  background-image: url(../assets/Banners/Banner1.3.jpg);
  /*Parallax*/
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
  position: relative;
}

#banner1 {
  background-image: url(../assets/Banners/Bannner1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#banner2 {
  background: url(../assets/img/Banners/index/Banner1-Blue.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#banner3 {
  background: url(../assets/img/Banners/index/Banner3-blue.jpg);
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
  position: relative;
}

#banner4 {
  background: url(../assets/img/Banners/index/Banner4-blue.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.banner h2 {
  font-size: 2.8em;
  font-weight: 1000;
  text-transform: uppercase;
  color: #fff;
}

.banner p {
  margin: 1em 0 0;
  margin-bottom: 1.5vh;
  padding: 0;
  font-size: 1.2em;
  font-weight: 270;
  color: #fff;
  line-height: 1.5em;
}

.btnD1 {
  display: inline-block;
  margin: 1em 0 0;
  background-color: #ff2670;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
}

.btnD1:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 988px) {
  .navbar-collapse {
    background: #fff;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 200px 65px 0px;
  }

  .banner h2 {
    font-size: 1.5em;
  }

  .banner p {
    font-size: 0.98em;
  }

  .btnD1 {
    font-weight: 550;
    padding: 7px 15px;
  }
}

/*Footer*/
.piePagina{
  width: 100%;
  height: 50vh;
  background-color: #007680;
}

.socialMediaFooter{
  height: 4.5vh;
  margin: 7px;
  margin-top: 60px;
}

#socialMediaLogos{
  margin-left: 25px;
}

#logoFooter{
  height: 9.5vh;
  margin-bottom: 20px;
  margin-left: 25px;
}

#parrFooter{
  margin-left: 25px;
  font-size: 1.3em;
}