/*Tipografía*/
@font-face {
  font-family: Sofia;
  src: url(fonts/sofiapro-light.otf);
}

@font-face {
  font-family: Gilroy_Lh;
  src: url(fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: Gilroy_B;
  src: url(fonts/Gilroy-ExtraBold.otf);
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
body {
  background-color: #f8f9fa;
}

.navbar {
  padding: 20px 0;
}

.imgLogo {
  height: 12.5vh;
}

.nav-item {
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  background: #007680;
  color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #007680;
  padding: 5px 15px;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}

/*Seccion del Abaout*/
.sectionAbout {
  width: 100%;
  height: 35vh;
  /*background-color: brown;*/
}

.titleAbout {
  margin-top: 35px;
  margin-bottom: 40px;
  font-size: 2.8em;
  font-weight: 600;
  color: #007680;
  font-family: Gilroy_B;
}

.parrAbout {
  font-size: 1.3em;
  font-family: Sofia;
  text-align: justify;
}

#imagRight {
  /*background-color: yellow;*/
}

#imgAboutTeam {
  margin-top: 60px;
}

.lineAbout {
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: #007680;
  text-align: justify;
}

/*Footer*/
.piePagina{
  width: 100%;
  height: 50vh;
  background-color: #007680;
}

.socialMediaFooter{
  height: 4.5vh;
  margin: 7px;
  margin-top: 60px;
}

#socialMediaLogos{
  margin-left: 25px;
}

#logoFooter{
  height: 9.5vh;
  margin-bottom: 20px;
  margin-left: 25px;
}

.parrafo {
  font-family: Sofia;
  font-size: 1.26em;
  color: rgba(255, 255, 255, 0.7);
}

#parrFooter{
  margin-left: 25px;
  font-size: 1.3em;
}